<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Swsu.Lignis.RolePermissionsConfigurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>

		<section name="plugIns" type="Swsu.Lignis.RolePermissionsConfigurator.Configuration.PlugInsSection, RolePermissionsConfigurator" />
		
    </configSections>
    <connectionStrings>
        <add name="Swsu.Lignis.RolePermissionsConfigurator.Properties.Settings.ConnectionString"
            connectionString="Host=127.0.0.1;Port=5432;Database=los_db;SearchPath=public;Username=db_service;Password=dbadmin;Persist Security Info=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Swsu.Lignis.RolePermissionsConfigurator.Properties.Settings>
            <setting name="PluginsCatalog" serializeAs="String">
                <value>PlugIns.config</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>ru-RU</value>
            </setting>
        </Swsu.Lignis.RolePermissionsConfigurator.Properties.Settings>
    </userSettings>

	<plugIns configSource="PlugIns.config" />
</configuration>