<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.3.10" targetFramework="net45" />
  <package id="Npgsql" version="3.1.10" targetFramework="net45" />
  <package id="Swsu.Lignis.Logger.PrtAgent" version="1.6.1.11" targetFramework="net45" />
  <package id="Swsu.Lignis.MiddleWare.Common" version="1.6.1.2" targetFramework="net45" />
  <package id="Swsu.Lignis.Workstation.Contract" version="1.0.0-alpha" targetFramework="net45" />
  <package id="Swsu.Lignis.Workstation.Contract.Permissions.Metadata" version="1.0.0-alpha" targetFramework="net45" />
</packages>