<?xml version="1.0" encoding="utf-8" ?>

<plugIns>
	<!-- Здесь должны быть перечислены модули. -->
	<!-- Атрибуты: name — произвольный идентификатор, assembly — имя библиотеки без расширения. -->

	<add name="AfficherClientModule" assembly="AfficherClientModule" >
		<localizations>
			<add culture="ru" displayName="Программа &quot;Клиент отображения (Группировка)&quot;"/>
			<add culture="fr" displayName="Programme &quot;Client d'affichage (Groupement)&quot;"/>
		</localizations>
	</add>
	
	<add name="AfficherServerModule" assembly="AfficherServerModule" >
		<localizations>
			<add culture="ru" displayName="Программа &quot;Сервер отображения (Группировка)&quot;"/>
			<add culture="fr" displayName="Programme &quot;Server d'affichage (Groupement)&quot;"/>
		</localizations>
	</add>
	
	<add name="AirDefence" assembly="AirDefenceModule" >
		<localizations>
			<add culture="ru" displayName="Программа &quot;Учёт личного состава&quot;"/>
			<add culture="fr" displayName="Programme &quot;Le personnel comptable&quot;"/>
		</localizations>
	</add>
	
	<add name="AqmDutySchedule" assembly="AqmDutyScheduleModule" >
		<localizations>
			<add culture="ru" displayName="КП &quot;График боевого дежурства РТВ&quot;"/>
			<add culture="fr" displayName="Programee &quot;Horaire d'alerte RTV&quot;"/>
		</localizations>
	</add>
	
	<add name="AzimuthalGrid" assembly="AzimuthalGridModule" >
		<localizations>
			<add culture="ru" displayName="Инструмент &quot;Азимутальная сетка&quot;"/>
			<add culture="fr" displayName="Instrument &quot;Azimuth maille&quot;"/>
		</localizations>
	</add>
	
	<add name="Boundaries" assembly="Boundaries" >
		<localizations>
			<add culture="ru" displayName="Доступ к государственной границе"/>
			<add culture="fr" displayName="L'accès à la frontière de l'État"/>
		</localizations>
	</add>
	
	<add name="DocumentationAirSituation" assembly="DocumentationAirSituation" >
		<localizations>
			<add culture="ru" displayName="КП &quot;Документирование&quot;"/>
			<add culture="fr" displayName="Progiciel &quot;Documentant&quot;"/>
		</localizations>
	</add>
	
	<add name="DutyForcesIa" assembly="DutyForcesIaModule" >
		<localizations>
			<add culture="ru" displayName="Форма &quot;Дежурные силы ИА&quot;"/>
			<add culture="fr" displayName="Forme &quot;Sur les forces de service Avions de chasse&quot;"/>
		</localizations>
	</add>
	
	<add name="DutyForcesReb" assembly="DutyForcesRebModule" 
		 >
		<localizations>
			<add culture="ru" displayName="Форма &quot;Дежурные силы РЭБ&quot;"/>
			<add culture="fr" displayName="Forme &quot;Duty forces EW&quot;"/>
		</localizations>
	</add>
	
	<add name="DutyForcesRtv" assembly="DutyForcesRtvModule" >
		<localizations>
			<add culture="ru" displayName="Форма &quot;Дежурные силы ЗРВ&quot;"/>
			<add culture="fr" displayName="Form &quot;Duty forces RTV&quot;"/>
		</localizations>
	</add>
	
	<add name="DutyForcesZrv" assembly="DutyForcesZrvModule" >
		<localizations>
			<add culture="ru" displayName="Форма &quot;Дежурные силы ЗРВ&quot;"/>
			<add culture="fr" displayName="Form &quot;Duty forces SMP&quot;"/>
		</localizations>
	</add>

	<add name="CoordGrid" assembly="ConstructionGrid" >
		<localizations>
			<add culture="ru" displayName="Инструмент &quot;Координатная сетка&quot;"/>
			<add culture="fr" displayName="Tool &quot;Grille&quot;"/>
		</localizations>
	</add>

	<add name="Swsu.Lignis.Modules.KPVPBG" assembly="Swsu.Lignis.Modules.KPVPBG" >
		<localizations>
			<add culture="ru" displayName="КП &quot;Контроль приведения&quot;"/>
			<add culture="fr" displayName="Progiciel &quot;Apportant commande&quot;"/>
		</localizations>
	</add>
	
	<add name="Swsu.Lignis.Modules.CDAAirDefence" assembly="Swsu.Lignis.Modules.CDAAirDefence.dll" >
		<localizations>
			<add culture="ru" displayName="КП &quot;Управление войсками (силами) ПВО при ведении БД&quot;"/>
			<add culture="fr" displayName="Progiciel &quot;Le contrôle des troupes (forces) de défense aérienne dans la conduite des hostilités&quot;"/>
		</localizations>
	</add>
	
	<add name="Swsu.Lignis.Modules.PVOForcesControlOnWarfare" assembly="Swsu.Lignis.Modules.PVOForcesControlOnWarfare" >
		<localizations>
			<add culture="ru" displayName="Программа &quot;Состояние, дислокация и действие СВН&quot;"/>
			<add culture="fr" displayName="Programme &quot;Etat, la dislocation et le fonctionnement de l'IOS&quot;"/>
		</localizations>
	</add>
	
	<add name="MapNavigation" assembly="MapNavigationModule" >
		<localizations>
			<add culture="ru" displayName="Интсрумент &quot;Навигация по карте&quot;"/>
			<add culture="fr" displayName="Tool &quot;Sur la carte de navigation&quot;"/>
		</localizations>
	</add>
	
	<add name="ModuleRTV" assembly="ModuleRTV" >
		<localizations>
			<add culture="ru" displayName="Модуль форм РТВ"/>
			<add culture="fr" displayName="Le module forme RTV"/>
		</localizations>
	</add>
	
	<add name="PlaginHeight" assembly="PlaginHeight" >
		<localizations>
			<add culture="ru" displayName="Модуль доступа к ЦММ"/>
			<add culture="fr" displayName="Module d'accès DTM"/>
		</localizations>
	</add>
	
	<add name="PVO.Modules.FormsREB" assembly="PVO.Modules.FormsREB" >
		<localizations>
			<add culture="ru" displayName="Модуль форм РЭБ"/>
			<add culture="fr" displayName="Le module forme EW"/>
		</localizations>
	</add>
	
	<add name="PVO.Modules.FormsZRV" assembly="PVO.Modules.FormsZRV" >
		<localizations>
			<add culture="ru" displayName="Модуль форм ЗРВ"/>
			<add culture="fr" displayName="La forme du module SMP"/>
		</localizations>
	</add>
	
	<add name="PVO.Modules.FormsIA" assembly="PVO.Modules.FormsIA" >
		<localizations>
			<add culture="ru" displayName="Модуль форм ИА"/>
			<add culture="fr" displayName="Les formes de module IA"/>
		</localizations>
	</add>

	<!--	Контроль пролета ИСЗ-->
	<add name="SatelliteTracking" assembly="SatelliteTrackingModule" >
		<localizations>
			<add culture="ru" displayName="Контроль пролёта ИСЗ"/>
			<add culture="fr" displayName="Contrôle de vol par satellite"/>
		</localizations>
	</add>

	<add name="StyleLoadingModule.Module" assembly="StyleLoadingModule" >
		<localizations>
			<add culture="ru" displayName="Вспомогательный модуль отображения объектов карты"/>
			<add culture="fr" displayName="Module auxiliaire d'affichage des objets de la carte"/>
		</localizations>
	</add>
	
	<add name="SurfaceObjectsModule" assembly="SurfaceObjectsModule" >
		<localizations>
			<add culture="ru" displayName="Модуль надводной обстановки"/>
			<add culture="fr" displayName="La situation de surface du module"/>
		</localizations>
	</add>
	
	<add name="Swsu.Lignis.AirForm" assembly="Swsu.Lignis.AirForm" >
		<localizations>
			<add culture="ru" displayName="Модуль форм ВО"/>
			<add culture="fr" displayName="Module Formulaires IN"/>
		</localizations>
	</add>
	
	<add name="Swsu.Lignis.AirMap" assembly="Swsu.Lignis.AirMap" >
		<localizations>
			<add culture="ru" displayName="Модуль отображения ВО на карте"/>
			<add culture="fr" displayName="Module d'affichage sur la carte"/>
		</localizations>
	</add>
	
	<add name="Swsu.Lignis.AirCommand" assembly="Swsu.Lignis.AirCommand" >
		<localizations>
			<add culture="ru" displayName="Команды РИЦ"/>
			<add culture="fr" displayName="RIC équipe"/>
		</localizations>
	</add>
	
	<add name="Swsu.Lignis.DbNotifier" assembly="Swsu.Lignis.DbNotifierModule" >
		<localizations>
			<add culture="ru" displayName="Модуль уведомлений"/>
			<add culture="fr" displayName="Unité de notification"/>
		</localizations>
	</add>
	
	<add name="Swsu.Lignis.ImageCorrectionModule" assembly="Swsu.Lignis.ImageCorrectionModule" >
		<localizations>
			<add culture="ru" displayName="Модуль корректировки изображений"/>
			<add culture="fr" displayName="Module de correction d'image"/>
		</localizations>
	</add>
	
	<add name="Swsu.Lignis.MapCondition" assembly="Swsu.Lignis.MapConditionModule" >
		<localizations>
			<add culture="ru" displayName="Модуль ведения и отображения объектов БД КСА"/>
			<add culture="fr" displayName="Référence du module et afficher les objets de base de données CSA"/>
		</localizations>
	</add>
	
	<add name="Swsu.Lignis.Modules.CoordinatesTransformation" assembly="Swsu.Lignis.Modules.CoordinatesTransformation" >
		<localizations>
			<add culture="ru" displayName="Модуль преобразования координат"/>
			<add culture="fr" displayName="Coordonner module de conversion"/>
		</localizations>
	</add>
	
	<add name="Swsu.Lignis.Modules.ElectronicWarfare" assembly="Swsu.Lignis.Modules.ElectronicWarfare" >
		<localizations>
			<add culture="ru" displayName="Программа &quot;Комплексная задача РЭБ&quot;"/>
			<add culture="fr" displayName="Programee &quot;Tâche complexe EW&quot;"/>
		</localizations>
	</add>
	
	<add name="Swsu.Lignis.Modules.AerodromeManager.ServerModule" assembly="Swsu.Lignis.Modules.AerodromeManager.ServerModule" >
		<localizations>
			<add culture="ru" displayName="Программа &quot;Сервер отображения (Аэродромы)&quot;"/>
			<add culture="fr" displayName="Programee &quot;Serveur de mappage (aérodromes)&quot;"/>
		</localizations>
	</add>
	
	<add name="Swsu.Lignis.Modules.AerodromeManager.ClientModule" assembly="Swsu.Lignis.Modules.AerodromeManager.ClientModule" >
		<localizations>
			<add culture="ru" displayName="Программа &quot;Клиент отображения (Аэродромы)&quot;"/>
			<add culture="fr" displayName="Programee &quot;L'affichage de client (Aérodromes)&quot;"/>
		</localizations>
	</add>
	
	<add name="Swsu.Lignis.Modules.Printing" assembly="Swsu.Lignis.Modules.Printing" >
		<localizations>
			<add culture="ru" displayName="Модуль печати"/>
			<add culture="fr" displayName="Module d'impression"/>
		</localizations>
	</add>
	
	<add name="Swsu.Lignis.Replication.Module" assembly="Swsu.Lignis.Replication.Module">
		<localizations>
			<add culture="ru" displayName="Модуль репликаций"/>
			<add culture="fr" displayName="Moteur de réplication"/>
		</localizations>
	</add>
	
	<add name="Swsu.Lignis.Modules.ScreenShots" assembly="SWSU.Lignis.Modules.ScreenShots" >
		<localizations>
			<add culture="ru" displayName="Модуль создания снимков экрана"/>
			<add culture="fr" displayName="Capture d'écran du module"/>
		</localizations>
	</add>
	
	<add name="Swsu.Lignis.Modules.SurfaceObjectManager.ClientModule" assembly="Swsu.Lignis.Modules.SurfaceObjectManager.ClientModule" >
		<localizations>
			<add culture="ru" displayName="Программа &quot;Клиент отображения (Надводные объекты)&quot;"/>
			<add culture="fr" displayName="Programme &quot;Affichage client (objets de surface)&quot;"/>
		</localizations>
	</add>
	
	<add name="Swsu.Lignis.Modules.SurfaceObjectManager.ServerModule" assembly="Swsu.Lignis.Modules.SurfaceObjectManager.ServerModule" >
		<localizations>
			<add culture="ru" displayName="Программа &quot;Сервер отображения (Надводные объекты)&quot;"/>
			<add culture="fr" displayName="Programme &quot;Serveur de mappage (objets de surface)&quot;"/>
		</localizations>
	</add>
	
	<add name="Swsu.Lignis.Modules.ZoneManager.ServerModule" assembly="Swsu.Lignis.Modules.ZoneManager.ServerModule" >
		<localizations>
			<add culture="ru" displayName="Программа &quot;Сервер отображения (Зоны)&quot;"/>
			<add culture="fr" displayName="Programme &quot;Serveur de mappage (zones)&quot;"/>
		</localizations>
	</add>
	
	<add name="Swsu.Lignis.Modules.ZoneManager.ClientModule" assembly="Swsu.Lignis.Modules.ZoneManager.ClientModule" >
		<localizations>
			<add culture="ru" displayName="Программа &quot;Клиент отображения (Зоны)&quot;"/>
			<add culture="fr" displayName="Programme &quot;L'affichage client (zones)&quot;"/>
		</localizations>
	</add>
	
	<add name="UniversalDataEditorModule" assembly="UniversalDataEditorModule" >
		<localizations>
			<add culture="ru" displayName="Модуль универсального менеджера данных"/>
			<add culture="fr" displayName="Module de gestion de données universelle"/>
		</localizations>
	</add>
	
	<add name="SWSU.Lingis.Modules.AirdromeProperties" assembly="SWSU.Lingis.Modules.AirdromeProperties" >
		<localizations>
			<add culture="ru" displayName="Модуль форм характеристик аэродромов"/>
			<add culture="fr" displayName="Le module forme caractéristiques des terrains d'aviation"/>
		</localizations>
	</add>
	
	<add name="ZrvInteraction" assembly="ZrvInteractionModule" >
		<localizations>
			<add culture="ru" displayName="Модуль средств ЗРВ"/>
			<add culture="fr" displayName="Des moyens de module SMP"/>
		</localizations>
	</add>

</plugIns>